* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
    height: 100vh;
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.eFeaQKj4D6oz9LpcUTAvIgHaEo&pid=Api&P=0&h=180');
    background-size: cover;
    background-position: center;
}


.form-section {
    width: 100%;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

@media (max-width: 500px) {
    body {
        padding: 10px;
        background-image: url('https://tse4.mm.bing.net/th?id=OIP.eFeaQKj4D6oz9LpcUTAvIgHaEo&pid=Api&P=0&h=180');
    background-size: cover;
    background-position: center;
    color: white;
    }
    input, textarea, button {
        font-size: 14px;
        padding: 8px;
    }

    h2 {
        font-size: 18px;
    }

}

@media (min-width: 501px) and (max-width: 900px) {
    body {
        padding: 15px;
        background-color: rgb(233, 116, 96);
        background-image: url('https://tse4.mm.bing.net/th?id=OIP.eFeaQKj4D6oz9LpcUTAvIgHaEo&pid=Api&P=0&h=180');
    background-size: cover;
    background-position: center;
    color: white;
    }

    h2 {
        font-size: 22px;
    }

    input, textarea, button {
        font-size: 16px;
        padding: 10px;
    }
}